extends layout

block content
  .grid
      h1 Reddit User Personality Profile
      form.input(action='/watson' method='post')
        label
          | Enter Username:
          input(type='text', name='username')
        button(type='submit') Run Profile
      h2.error= error
  div.charts
    canvas(id="myChart" width="400" height="400")
    canvas(id="barChart" width="400" height="400")
  a(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/personality-insights.html') Powered by IBM Watson
  p(id='personality' style='visibility: hidden;') #{bigFive}
  p(id='traits' style='visibility: hidden;') #{traits}
  script(src="javascripts/Chart.js/Chart.js")
  script(src='javascripts/createChart.js')
