@import url(http://fonts.googleapis.com/css?family=Lato);

body {
  background-image: url("/images/image.jpg");
  background-repeat: no-repeat;
  font-family: 'Lato', sans-serif;
}
html, body {
           margin: 0px;
           padding: 0px;
           height: 100%;
           width: 100%;

}
.grid {
  float: right;
  margin-right: 20%;
}

.error {
  color: red;
  text-align: center;
}

button {
  padding: 10px;
  margin-left: 100px;
  display: block;
}

input {
  margin-bottom: 13px;
  margin-left: 15px;
  font-size: 16px;
}


.charts {
  float: right;
  margin-right: 6%;
  margin-top: 1%;
  /*width: 100 ;*/
  /*vertical-align: top;*/
}

#barChart {
  margin-left: 30px;

}
.input {
  margin-left: 10%;
}

p {
  height: 0;
  width: 0;
}



a {
  color: #00B7FF;
  position: absolute;
  top: 90%;
  left: 80%;
  font-size: 20px;
}
